@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(/assets/fonts/static/Montserrat-Regular.ttf);
}
@font-face {
  src: url(/assets/fonts/static/Montserrat-Italic.ttf);
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
@font-face {
  src: url(/assets/fonts/static/Montserrat-Bold.ttf);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(/assets/fonts/static/Montserrat-BoldItalic.ttf);
}

@import "./ScrollSlider/Slider.css";

body {
  /* gap: 16px; */
  /* min-height: 100vh; */
  background-color: #252323;
  margin: 0;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header__nav-left {
  display: flex;
  flex-direction: column;
}
.header__logo {
  text-decoration: none;
}
.header__logo-icon {
  margin: 15px 0 0 15px;
  align-self: flex-start;
}
.header__text {
  align-self: center;
  margin: 0 60px;
  font-size: 69px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #fff;
}
#clock {
  font-weight: 600;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-bottom: 30px;
  margin-right: 90px;
  align-self: flex-end;
}
.header__switch {
  align-self: flex-start;
  margin-bottom: 20px;
  margin-left: 15px;
}
.header__switch-toggle {
  display: inline-block;
  width: 90px;
  height: 30px;
  border-radius: 22px;
  background: linear-gradient(90deg, #33e017 0%, rgba(149, 241, 134, 0) 100%);
  transition-duration: 300ms;
  position: relative;
  cursor: pointer;
  z-index: 0;
}
/* кружок */
.header__switch-toggle::after {
  content: "";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #fff;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
}
/* при нажатии */
.header__switch-toggle-on {
  background: linear-gradient(90deg, rgba(149, 241, 134, 0) 0%, #33e017 100%);
}

.header__switch-toggle-on::after {
  left: calc(100% - 28px);
}

.header__switch-label {
  font-weight: 300;
  font-size: 30px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  opacity: 0.5;
  transition: 0.3s;
}
.header__switch.is-f .header__switch-f {
  opacity: 1;
}

.header__switch:not(.is-f) .header__switch-c {
  opacity: 1;
}

.header__menu {
  margin-top: 30px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  list-style: none;
  font-weight: 300;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.header__menu-item:hover {
  font-weight: 700;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search__input {
  width: 700px;
  height: 60px;
  padding: 14px 16px 14px 72px;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  color: #524e4e;
  background-color: #d9d9d9;
  background-image: url("./assets/images/search.svg");
  background-repeat: no-repeat;
  background-position: 35px center;
  background-size: 28px;
  border: none;
  border-radius: 25px;
  outline: none;
}
.search__button {
  padding: 14px 36px;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(135deg, #ad36cb 0%, #b999ff 100%);
  border: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(74, 109, 255, 0.3);
  white-space: nowrap;
  height: 60px;
  margin-left: 15px;
}
.search__button:hover {
  background: linear-gradient(135deg, #ad36cb 0%, #4a6dff 100%);
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto 35px;
  border-radius: 32px;
  max-width: 950px;
  height: 425px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    0 4px 4px 0 rgba(255, 250, 250, 0.25), 0 4px 4px 0 rgba(253, 245, 245, 0.25);
  background: linear-gradient(
    147deg,
    #ad36cb 13.94%,
    #e0b2ec 59.62%,
    #333 90.38%
  );
}

.weather-card__meta {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.weather-card__city {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
}
.weather-card__date {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
}
.weather-card__temperature {
  display: flex;
  align-items: center;
}
.weather-card__temperature-value {
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #f2f1f1;
  margin: 0 10px 0 25px;
}
.weather-card__weather-icon {
  width: 80px;
  height: 80px;
}
.weather-card__details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

/* слайдер погоды */

.weather-hour {
  /*контейнер*/
  margin: 0 auto;
  max-width: 900px;
  padding: 0 30px;
}
.scroll-slider {
  display: block;
  position: relative;
  overflow: visible;
}
.weather-hour__list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  align-items: flex-end;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  gap: 12px;
  z-index: 1;
}
.weather-hour__list ::-webkit-scrollbar {
  display: none;
}
.weather-hour__list > * {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.weather-hour__list-card {
  position: relative;
  border-radius: 25px;
  width: 125px;
  height: 120px;
  overflow: hidden;
  background: linear-gradient(180deg, #b32dd4 0%, rgba(217, 217, 217, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  min-width: 130px;
  scroll-snap-align: start;
}
.weather-hour__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
}
.weather-hour__info-icon {
  max-width: 70px;
  max-height: auto;
}
.weather-hour__dark-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 40%; /*72px; */
  backdrop-filter: blur(9px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(128deg, #373333 0%, rgba(55, 51, 51, 0) 100%);
}

.scroll-slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 50px;

  top: 50%;
  margin-top: -25px;

  background-color: #ad36cb;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  z-index: 2;
}
.scroll-slider-button._prev {
  left: -25px;
}

.scroll-slider-button._next {
  right: -25px;
}
@media (hover: hover) {
  .scroll-slider-button:hover {
    background-color: #e0b2ec;
    transform: scale(1.1); /* Увеличиваем кнопку при наведении */
  }
}

.scroll-slider-button:active {
  transform: scale(0.95); /* Уменьшаем кнопку при нажатии */
}

.scroll-slider-button:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}

.scroll-slider-button svg {
  width: 24px;
  height: 24px;
}
.footer__description,
.footer__copy {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #524e4e;
}
