@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(/assets/fonts/static/Montserrat-Regular.ttf);
}
@font-face {
  src: url(/assets/fonts/static/Montserrat-Italic.ttf);
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
@font-face {
  src: url(/assets/fonts/static/Montserrat-Bold.ttf);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(/assets/fonts/static/Montserrat-BoldItalic.ttf);
}
.forecast__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #f2f1f1;
  font-size: clamp(20px, 3vw, 50px);
}
.forecast__week {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 30px 0;
}
.forecast__week-text {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
.forecast__day {
  width: clamp(240px, 90%, 1000px);
  height: clamp(100px, 20vw, 180px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  box-sizing: border-box;
  background: linear-gradient(
    112.67288396562151deg,
    #ad36cb 26.6%,
    #333333 68.8%
  );
  border-radius: 32px;
  padding-top: 10px;
}
.forecast__day-info {
  display: flex;
  gap: clamp(10px, 2vw, 20px);
  align-items: center;
  font-size: clamp(19px, 3vw, 30px);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
.forecast__day-temp {
  display: flex;
  align-items: center;
}
.forecast__day-tempText {
  display: none;
}
.forecast__day-temp-right {
  display: flex;
}
.forecast__day-temp--day {
  margin-left: clamp(10px, 4vw, 40px);
}

.forecast__day-temp--night {
  margin-left: clamp(10px, 4vw, 40px);
}
.forecast__day-tempValue {
  font-size: clamp(22px, 5vw, 50px);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #f2f1f1;
}
.forecast__day-tempIcon {
  width: 100px;
  height: 100px;
}
@media (max-width: 480px) {
}
@media (max-width: 480px) {
  .forecast__day {
    flex-direction: column;
    height: auto;
  }
  .forecast__day-info {
    flex-direction: column;
    gap: 5px;
    font-size: clamp(14px, 4vw, 22px);
  }
  .forecast__day-temp {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 10px;
  }
  .forecast__day-tempText {
    display: block;
    font-size: 16px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-left: 15px;
  }
  .forecast__day-temp-right {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 15px;
  }
  .forecast__day-tempIcon {
    width: 80px;
    height: 80px;
  }
  .forecast__day-temp--day,
  .forecast__day-temp--night {
    margin-left: 0;
  }
  .forecast__day-tempValue {
    font-size: clamp(18px, 5vw, 40px);
  }
}
